body {
    background-color: #F1FBEE;
    font-family: Georgia, serif;
}
div {color: #F8EEFB;
}
h1 {
    color: #4F8CEE;
}

p {
    color: #EE4F8D;
}

h2{ color: #EE4F8D;
}

ol {color: #4F8CEE;
}

li{ color: #EE4F8D;
}
a{ color: black;
}
